.body {
    font-family:Verdana, Geneva, Tahoma, sans-serif;

}

.nav-link {
    color: #5cb85c;
}

#about {
    margin: 0 7% 20px 7%;
}

.main_title {
    text-align: center;
    font-family: 'Eczar', serif;
    font-weight: 700;
    font-size: 64px;
    color: #5cb85c;
    margin-top: 8%;
    margin-bottom: 8%;
}

.main_img {
   width: 100%;  
}

#DIY {
    background-color: #5cb85c;
    color: #ffffff;
    text-align: center;
    padding: 100px
}

.diy_text {
    text-align: left;
}

.btn {
    margin: 10px, 0px, 10px, 0px;
}

.buy {
    text-align: center;
    /* margin-bottom: 10%;
    margin-top: 2%; */
    padding: 100px;
}

.semiheader {

    text-align: center;
    padding-bottom: 50px;
}

.card {
    text-align: center;
    margin: 0 40px 0 40px;
}

.buy .semiheader {
    color: #5cb85c;
}
 
